@page
@model JamFan21.Pages.LoginModel
@{
    ViewData["Title"] = "Jamulus.live Login";
}

<meta http-equiv="refresh" content="60;url=https://jamulus.live/" />

<script>
    function login(hash) {
        // Shove it into storage and pop back to root.
        localStorage.setItem("loginHash", hash);
        window.location='/';
    }
</script>

<h1>Click your name to login.</h1>

@Html.Raw(@Model.LoginUserList)

